<!DOCTYPE html>
<html lang="en-EN">
<head>
    <meta http-equiv="refresh" content="5">
    <title>Material Shopping list</title>

    <style>
        p {
            margin-bottom: 0;
        }

        h1 {
            margin-top: 0;
        }

        body {
            background-color: transparent;
            height: 100%;
            overflow: hidden;
            margin: 0;
        }

        html {
            color: #c7c7c7;
            height: 100%;
            font-family: sans-serif;
        }

        .bg {
            border-radius: 20px;
            height: calc(100% - 25px);
            padding: 5px 20px 20px;
            background-color: #101010ed;
        }

        .progress {
            border-radius: 5px;
        }

        .progress.outer {
            height: 20px;
            background-color: #313131;
        }

        .progress.inner {
            height: 100%;
            max-width: 100%;
            background-color: orange;
        }
    </style>
</head>
<body>

<div class="bg">
    <h1>Shopping list</h1>

    <div>
        {{ range . }}
            <div>
                <p>{{ .Name }}: {{ .Have }} / {{ .Required }}</p>

                <div class="progress outer">
                    <div class="progress inner" style="width: {{.Percentage}}%"></div>
                </div>
            </div>
        {{ end }}
    </div>
</div>
</body>
</html>
